# Importing Project dependencies

### Mounting Google Drive

In [140]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
!pip install inflect

Requirement already satisfied: inflect in c:\users\kanishk verma\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\kanishk verma\anaconda3\lib\site-packages (from inflect) (1.7.0)
Requirement already satisfied: zipp>=0.5 in c:\users\kanishk verma\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->inflect) (3.1.0)

WARNING: You are using pip version 20.2.1; however, version 20.2.2 is available.
You should consider upgrading via the 'c:\users\kanishk verma\anaconda3\python.exe -m pip install --upgrade pip' command.

In [141]:
import pandas as pd

In [2]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
#!pip install inflect
import inflect
import re
import string
p = inflect.engine()
stop_words = list(stopwords.words('english'))
newStop = ['was', 'and', 'the', 'to', 'in', 'of', 'a', 'an', 'is', 'were', 'for', 'with', 'are', 'one', 'our', 'gave', 'have',
           'me', 'an', 'i', 'or', 'had', 'did', 'get', 'made', 'take', 'given', 'told', 'let', 'us', "n't", 'air', 'one', 'two', 'three', 
          'four', 'five', 'thousand', 'cc', 'twenty', 'ten', 'hundred', 'eightyseven']
stop_words = stop_words+newStop
stop_words.remove('not')

C:\Users\Kanishk Verma\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Kanishk Verma\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\Kanishk Verma\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)
[nltk_data] Downloading package stopwords to C:\Users\Kanishk
[nltk_data]     Verma\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

# Importing all reviews in one file

In [142]:
reviews = pd.read_csv('/content/drive/My Drive/Dataset/Compiled-Reviews.csv')

In [143]:
reviews.head()

   Unnamed: 0  ...                                      Outputvistara
0           0  ...   Mumbai to Chandigarh. I reached the airport 4...
1           1  ...   Ahmedabad to Delhi. I had booked Vistara flig...
2           2  ...   Amritsar to Delhi. My bag was tampered with a...
3           3  ...   Delhi to Ranchi. I flew Vistara after a long ...
4           4  ...   Fantastic experience on our trip from Goa to ...

[5 rows x 33 columns]

### Dropping Unwanted columns

In [144]:
reviews = reviews.drop(['Unnamed: 0', 'Compiled-Reviews'], axis = 1)

In [145]:
reviews.head()

                                           airArabia  ...                                      Outputvistara
0  No refund policy, very poor customer service. ...  ...   Mumbai to Chandigarh. I reached the airport 4...
1  AirArabia STEAL our money. Our flights and cor...  ...   Ahmedabad to Delhi. I had booked Vistara flig...
2  I had terrible service & no refund although we...  ...   Amritsar to Delhi. My bag was tampered with a...
3  They are basically not refunding our money. We...  ...   Delhi to Ranchi. I flew Vistara after a long ...
4  Flight cancelled, no refund given. Tried three...  ...   Fantastic experience on our trip from Goa to ...

[5 rows x 31 columns]

### Checking for null values for all airline reviews

In [146]:
reviews.isna().sum()

airArabia                       609
airAsia                         478
airCanada                       617
airFrance                       485
airIndia                        483
AlItalia                        477
AmericanAirlines                  0
BritishAirways                  243
turkishAirlines                 639
unitedAirlines                  656
virginAtlantic                  632
virginAustralia                 632
vistara                         648
Outputaer-lingus                615
Outputair-arabia                660
Outputair-canada                617
Outputair-france                616
Outputair-india                 615
Outputairasia                   615
Outputamerican-airlines         615
Outputcathay-pacific-airways    615
Outputdragonair                 698
Outputemirates                  615
Outputfiji-airways              660
Outputgaruda-indonesia          615
Outputgoair                     641
Outputhong-kong-airlines        652
Outputhop                       705
Outputindigo-airlines           615
Outputiran-air                  710
Outputvistara                   632
dtype: int64

### Handling null values by replacing it with empty string

In [147]:
reviews = reviews.fillna('')

In [148]:
reviews.isna().sum()

airArabia                       0
airAsia                         0
airCanada                       0
airFrance                       0
airIndia                        0
AlItalia                        0
AmericanAirlines                0
BritishAirways                  0
turkishAirlines                 0
unitedAirlines                  0
virginAtlantic                  0
virginAustralia                 0
vistara                         0
Outputaer-lingus                0
Outputair-arabia                0
Outputair-canada                0
Outputair-france                0
Outputair-india                 0
Outputairasia                   0
Outputamerican-airlines         0
Outputcathay-pacific-airways    0
Outputdragonair                 0
Outputemirates                  0
Outputfiji-airways              0
Outputgaruda-indonesia          0
Outputgoair                     0
Outputhong-kong-airlines        0
Outputhop                       0
Outputindigo-airlines           0
Outputiran-air                  0
Outputvistara                   0
dtype: int64

### Creating Airline-wise dictionary

In [149]:
dictReviews = {}
for col in reviews.columns:
    dictReviews[col] = reviews[col].tolist()

In [150]:
for k,v in dictReviews.items():
    review = dictReviews[k]
    for i in range(len(review)):
        review[i] = review[i].lower()

In [ ]:
dataArab = dictReviews['airArabia']
dataAsia = dictReviews['airAsia']
dataCanada = dictReviews['airCanada']
dataFrance = dictReviews['airFrance']
dataIndia = dictReviews['airIndia']
dataAmerican = dictReviews['AmericanAirlines']

In [153]:
dataAirArab = dataArab + dictReviews['Outputair-arabia']
dataAirCanada = dataCanada + dictReviews['Outputair-canada']
dataAirFrance = dataFrance + dictReviews['Outputair-france']
dataAirIndia = dataIndia + dictReviews['Outputair-india']
dataAirAsia = dataAsia + dictReviews['Outputairasia']
dataAirAmerican = dataAmerican + dictReviews['Outputamerican-airlines']

In [151]:
dataItalia = dictReviews['AlItalia']
dataBritish = dictReviews['BritishAirways']
dataLingus = dictReviews['Outputaer-lingus']

In [154]:
dataCathay = dictReviews['Outputcathay-pacific-airways']
dataDragon = dictReviews['Outputdragonair']
dataEmirates = dictReviews['Outputemirates']
dataFiji = dictReviews['Outputfiji-airways']
dataGaruda = dictReviews['Outputgaruda-indonesia']
dataGo = dictReviews['Outputgoair']
dataHongKong = dictReviews['Outputhong-kong-airlines']
dataHop = dictReviews['Outputhop']
dataIndigo = dictReviews['Outputindigo-airlines']
dataIran = dictReviews['Outputiran-air']

In [155]:
dataVisatara = dictReviews['Outputvistara'] + dictReviews['vistara']
dataTurkish = dictReviews['turkishAirlines']
dataUnited = dictReviews['unitedAirlines']
dataVirgin = dictReviews['virginAtlantic']
dataVirginAus = dictReviews['virginAustralia']

# Defining all possible contractions in English language as a dictionary

#### Available from https://stackoverflow.com/questions/19790188/expanding-english-language-contractions-in-python

In [159]:
contractions = {
"dont": "do not",
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how is",
"i'd": "I would",
"i'd've": "I would have",
"i'll": "I will",
"i'll've": "I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so is",
"that'd": "that would",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they would",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what'll've": "what will have",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"when's": "when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who will",
"who'll've": "who will have",
"who's": "who is",
"who've": "who have",
"why's": "why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you would",
"you'd've": "you would have",
"you'll": "you will",
"you'll've": "you will have",
"you're": "you are",
"you've": "you have",
"n't": "not",
"u.a.e": "uae"}

In [161]:
len(dictReviews)

31

# Running below pre-processing code for all airlines one by one by changing the airline name where specified in below code

In [512]:
rD = {}
punc = 0
wordList = []
sentList = []
for i in range(len(dataVirginAus)): #Change name of airline
  if dataVirginAus[i] != '':        #Change name of airline
    sent = sent_tokenize(dataVirginAus[i])    #Change name of airline
    sentList = []
    wordList = []
    for j in range(len(sent)):
      word = word_tokenize(sent[j])
      for w in word:
        if w in punct:
          punc += 1
        elif w in list(contractions.keys()):
          w = contractions[w]
          wordList.append(w)
        elif (re.findall(r'[0-9]+[a-z]+', w)):
          numWord = re.findall(r"[^\W\d_]+|\d+", w)
          num = numWord[0]
          w1 = p.number_to_words(num)
          wordList.append(w1) 
        elif (re.match(r'[0-9]+', w)):
          w = p.number_to_words(w)
          wordList.append(w)
        elif w not in stopWords:
          wordList.append(w)
        else:
          wordList.append(w)    
    s = ' '.join(wordList)
    sentList.append(s)
  r = ','.join(sentList)
  rD[i] = r

In [513]:
len(rD)

715

In [514]:
rev = []
for k, v in rD.items():
  rev.append(v)

In [515]:
df = pd.DataFrame(columns=['Reviews', 'body_len'])

In [516]:
df['Reviews'] = rev

In [517]:
df.head()

                                             Reviews body_len
0  march two flight from syd to cns was a typical...      NaN
1  i just want to let everyone know about my expe...      NaN
2  like a number of recent reviews regarding canc...      NaN
3  i was booked on flight va2 from los angeles to...      NaN
4  our flight to sydney was cancelled due to the ...      NaN

In [518]:
for i in range(len(df['Reviews'])):
  df['body_len'][i] = len(df['Reviews'][i])

In [519]:
df.head()

                                             Reviews body_len
0  march two flight from syd to cns was a typical...      302
1  i just want to let everyone know about my expe...      273
2  like a number of recent reviews regarding canc...     1271
3  i was booked on flight va2 from los angeles to...      271
4  our flight to sydney was cancelled due to the ...      270

In [520]:
len(df)

715

In [521]:
charPunct = ["!", "?"]

In [522]:
def count_punct(text):
    '''
    This function takes input as review text and counts the number of punctuations.
    '''
    Count = 0
    for char in text:
        if char in charPunct:
            Count += 1
        else:
            continue;
    return Count

In [523]:
df['Punct_count'] = df['Reviews'].apply(lambda x: count_punct(x))

### Preview of pre-processed text

In [524]:
df.head()

                                             Reviews body_len  Punct_count
0  march two flight from syd to cns was a typical...      302            1
1  i just want to let everyone know about my expe...      273            0
2  like a number of recent reviews regarding canc...     1271            1
3  i was booked on flight va2 from los angeles to...      271            0
4  our flight to sydney was cancelled due to the ...      270            0

In [525]:
df['Reviews'][2]

'like a number of recent reviews regarding cancellations i experienced appalling customer service in unsuccessfully attempting to secure a refund following virgin australia ’ s cancellation of my family ’ s flight to bali as we purchased our tickets prior to the covid-19 crisis i incorrectly assumed that it would be a simple matter of being granted a refund due to virgin ’ s decision to cancel our flight after only being offered the option of a flight credit it took three weeks for a response regarding a refund to my astonishment i was offered a refund less a six hundred cancellation fee when i sought clarification regarding this the representative from one of virgin australia ’ s overseas contact centres explained that whilst virgin could not be held liable for the flight cancellation i could i was gobsmacked by this unethical and blatantly money grabbing position airline should be rebadged as virgin unaustralia as these actions are the complete antithesis of what we as a country represent there is such total hypocrisy here with their ceo pleading for a government bail-out whilst our more reasonable claims are ignored what a farce ! my family for one will never fly this airline again and i have strongly encouraged my business colleagues to do likewise'

# Saving as CSV Airline-wise

In [526]:
df.to_csv('/content/drive/My Drive/Dataset/VirginAustralia.csv') #Change name of airline